<article id="bs-block-{{ secId }}" class="section-wrapper clearfix"
         data-custom-background-img="{{ asset(secBg)|imagine_filter('background_image') }}">
    <div class="content-wrapper clearfix">
        <div class="col-sm-12 pull-right">

            <h1 class="section-title">{{ secCaption|raw }}</h1>

            <!-- feature columns -->
            <section class="feature-columns row clearfix">
                {% if secType is not defined %}
                    {% set secType = 'text' %}
                {% endif %}

                {% if secType == 'text' %}
                    {% include 'BSFrontBundle::Common/text.html.twig' %}
                {% elseif secType == 'grid-md-2' %}
                    {% include 'BSFrontBundle::Common/grid-md-2.html.twig' %}
                {% elseif secType == 'grid-md-3' %}
                    {% include 'BSFrontBundle::Common/grid-md-3.html.twig' %}
                {% elseif secType == 'grid-md-4' %}
                    {% include 'BSFrontBundle::Common/grid-md-4.html.twig' %}
                {% elseif secType == 'form' %}
                    {% include 'BSFrontBundle::Common/form.html.twig' %}
                {% elseif secType == 'action' %}
                    {% include 'BSFrontBundle::Action/index.html.twig' %}
                {% else %}
                    {% include 'BSFrontBundle::Common/text.html.twig' %}
                {% endif %}
            </section>
        </div>
    </div>
</article>