@font-face {
    font-family: 'Amadeus';
    src: url('Amadeus.eot');
    src: url('Amadeus.eot?#iefix') format('embedded-opentype'),
         url('Amadeus.svg#open_sansregular') format('svg'),
         url('Amadeus.woff') format('woff'),
         url('Amadeus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UnderDog';
    src: url('Larisascript.eot');
    src: url('Larisascript.eot?#iefix') format('embedded-opentype'),
         url('Larisascript.svg#Larisascript') format('svg'),
         url('Larisascript.woff') format('woff'),
         url('Larisascript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}