<ul id="main-menu">
    <li id="menu-item-bs-block-action" class="menu-item scroll"><a href="#bs-block-action">шоу</a></li>
    <li id="menu-item-bs-block-blogs" class="menu-item scroll"><a href="#bs-block-blogs">блог</a></li>
    <li id="menu-item-bs-block-events" class="menu-item scroll"><a href="#bs-block-events">события</a></li>
    <li id="menu-item-bs-block-order" class="menu-item scroll"><a href="#bs-block-order">заказать</a></li>
</ul>